{{#each this.filteredCustomValues as |userField|}}
  <div class="directory-table__cell directory-table__cell--{{concat "user-field-" userField.id}}">
    <span class="directory-table__label">
      <span>{{userField.name}}</span>
    </span>
    <span class="directory-table__value">
      {{userField.value}}
    </span>
  </div>
{{/each}}
